.home-gallery {
  height: 100vh;
}

.home-gallery .name-logo {
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
}

.home-gallery .name-logo img {
  width: 700px;
  height: 100%;
  filter: invert(1);
}

.home-gallery .wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 30px;
  bottom: 20px;
}

.home-gallery .wrapper .home-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  color: #0f141e;
}

.home-gallery .wrapper .home-row .home-main {
  width: 50%;
}

.home-gallery .icons {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%) !important;
  list-style: none;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.home-gallery .icons li a {
  color: #0f141e;
  transition: none;
}

.home-gallery .icons li a svg {
  transition: 0.15s all;
}

.home-gallery .icons li:hover a {
  color: #878a8f;
}

.home-gallery .scroll-to {
  display: block;
  width: 25px;
  height: 40px;
  background: 0;
  margin: 30px auto 20px auto;
}

.home-gallery .scroll-to .scroll-to-icon {
  width: 25px;
  height: 40px;
  box-shadow: inset 0 0 0 2px #0f141e;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.25s;
  position: unset;
}

.home-gallery .scroll-to .scroll-to-icon:hover {
  box-shadow: inset 0 0 0 2px#878a8f;
}

.home-gallery .scroll-to .scroll-to-icon:hover::after {
  background-color: #878a8f;
}

.home-gallery .scroll-to .scroll-to-icon::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 7px;
  background: #0f141e;
  margin-left: 10px;
  top: 8px;
  border-radius: 2px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
  position: absolute;
  transition: all 0.25s;
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    -webkit-transform: translateY(14px);
    transform: translateY(14px);
  }
}
