@import url("../fonts/style.css");

:root {
  --blue: #0f141e;
  --gray: #878a8f;
}

.App {
  transition: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  position: relative;
  text-decoration: none;
  /* transition: 0.2s all; */
}

body {
  font-size: 20px;
  font-family: "Helvetica Now Display", sans-serif;
}

p {
  color: var(--gray);
  font-weight: 500;
}

img {
  width: 100%;
}

h1 {
  margin-top: 15px;
  font-size: 360%;
  padding-top: 1px;
  padding-bottom: 4px;
  color: var(--blue);
}

h3 {
  margin-top: 20px;
  font-weight: 800;
  color: var(--blue);
  font-size: 110%;
  padding-top: 2px;
  padding-bottom: 3px;
  line-height: 30px;
}

h4 {
  padding-top: 1px;
  padding-bottom: 4px;
  font-size: 90%;
  line-height: 1.4em;
}

h5 {
  font-size: 70%;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 8px;
  color: var(--gray);
  font-weight: 400;
  letter-spacing: 5px;
}

a.special {
  color: var(--blue);
  border: 0 none;
  display: inline-block;
}

a.special::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--blue);
  opacity: 0;
  transition: 0.4s all;
}

a.special:hover::after {
  opacity: 1;
}

nav.links {
  margin-top: 20px;
}

nav.links h1,
nav.links h2,
nav.links h3,
nav.links h4,
nav.links h5,
nav.links h6 {
  display: inline-block;
}

nav.links h4 {
  cursor: pointer;
}

nav.links h4::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--blue);
  opacity: 0;
  transition: 0.4s all;
}

nav.links h4:hover::after {
  opacity: 1;
}

nav.links h4 a {
  color: var(--blue);
}

nav.links span {
  margin: 0 15px;
  color: var(--gray);
  font-size: 80%;
  pointer-events: none;
}

section {
  width: 100%;
}

.wrapper {
  padding: 0 40px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
}

@media (max-width: 767px) {
  .wrapper {
    padding: 0 20px;
  }
  h1 {
    font-size: 160%;
    line-height: 1.2;
    margin-top: 0;
  }

  h3 {
    font-size: 90%;
    line-height: 1.4;
    margin-top: 10px;
  }
}

@media (max-width: 550px) {
}

::-webkit-scrollbar {
  width: 13px;
  width: 0;
}
::-webkit-scrollbar-thumb {
  background: var(--gray);
}
::-webkit-scrollbar-track {
  background-color: #dcdcdc;
}

@media (max-width: 1400px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 900px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
