@import url("../fonts/style.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-thumb {
  background: rgb(230, 230, 230);
}
::-webkit-scrollbar-track {
  background-color: #161616;
}

@media (max-width: 900px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
