.projects {
  z-index: 5;
  padding-top: 120px;
}

.projects .list {
  display: flex;
  flex-wrap: wrap;
  margin: 95px -30px 30px -30px;
  justify-content: center;
}

.projects .list .project {
  margin: 30px;
  width: calc(50% - 60px);
}

.projects .list .project > a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(15 20 30 / 95%);
  z-index: 0;
  opacity: 0;
  transition: 0.3s all;
}

.projects .list .project > a:hover::after {
  opacity: 1 !important;
  transition: 0.3s all;
}

.projects .list .project .project-image {
  height: 100%;
  overflow: hidden;
}

.projects .list .project-image img {
  height: 100%;
  transition: 0.4s all;
}

.projects .list .project > a:hover .project-image img {
  transform: scale(1.03);
}

.project-text {
  padding-left: 50px;
  max-width: 420px;
  position: absolute;
  color: #fff;
  top: 50px;
  z-index: 1;
}

.project-text h5 {
  color: #fff;
  opacity: 0;
  transition: 0.4s all;
}

.project-text h2 {
  line-height: 40px;
  font-size: 160%;
  opacity: 0;
  transition: 0.4s all;
}

.project-text p {
  color: #fff;
  line-height: 25px;
  padding: 5px 0;
  font-size: 90%;
  font-weight: 400;
  opacity: 0;
  transition: 0.4s all;
}

.project-text .stack {
  font-weight: 800;
}

.project-text .project-btn {
  font-size: 80%;
  text-decoration: none;
  color: inherit;
  top: 10px;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  opacity: 0;
  transition: 0.4s all;
}

.project-text .project-btn span {
  text-decoration: underline;
}

.projects .list .project > a:hover .project-btn {
  top: 0px;
  transition-delay: 0.28s;
}

.projects .list .project > a:hover .project-text h5,
.projects .list .project > a:hover .project-text p:not(.stack),
.projects .list .project > a:hover .project-btn {
  opacity: 0.7;
}

.projects .list .project > a:hover .project-text h5,
.projects .list .project > a:hover .project-text h2,
.projects .list .project > a:hover .project-text p {
  opacity: 1;
  transform: translateY(-10px);
  pointer-events: none;
}

.projects .list .project > a:hover .project-text h2 {
  transition-delay: 0.07s;
}

.projects .list .project > a:hover .project-text p:not(.stack) {
  transition-delay: 0.14s;
}

.projects .list .project > a:hover .project-text .stack {
  transition-delay: 0.21s;
}

@media (max-width: 1280px) {
  .projects .list .project {
    width: calc(50% - 50px);
    margin: 15px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .projects .list .project-text p:not(.stack) {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .projects .list {
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 65px 20px 30px 20px;
  }

  .projects .list .project {
    margin: 0px 0 30px 0;
    width: 100% !important;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .projects {
    padding-top: 80px;
  }

  .projects .list {
    margin: 65px 0px 30px 0px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .projects .list .project {
    margin: 0px 0 30px 0;
    width: 100% !important;
    height: 100%;
  }

  .project-text {
    padding: 0 30px;
    width: 100% !important;
    top: 30px;
  }
  .projects .list .project-text p:not(.stack) {
    display: none;
  }
  .project-text h2 {
    font-size: 140%;
  }

  .project-text .stack {
    font-size: 80%;
  }
}
